<div class="row">
	<div class="col-12 text-center" style="padding: 20px; background-color: #f2f2f2">
		<h3><%= @user.username %></h3>
		<h3><%= @user.email %></h3>
		<h3><%= @user.bio %></h3>
	</div>
</div>