<div class="jumbotron">
  <h1 class="display-4">Weclome to my Instagram Clone using Ruby on Rails.</h1>
  <p class="lead">This app wants to be like Instagram.</p>
  <hr class="my-4">
  <p>You can create post with images. Try it!</p>
  <p class="lead">
		<%= link_to "Create Post", new_post_path, class: "tn btn-primary btn-lg"%>
  </p>
</div>

